# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
netzwerk-*.tar

.elixir_ls/dialyzer_manifest_22.2_elixir-1.10.3_test

.elixir_ls/temp_beams/Elixir.RouterTest.beam
.elixir_ls/temp_beams/Elixir.Link_VerteilerTest.beam
.elixir_ls/temp_beams/Elixir.Link_pidTest.beam
.elixir_ls/build/test/lib/netzwerk/.mix/compile.elixir

.elixir_ls/dialyzer_manifest_22.0_elixir-1.10.2_test
.elixir_ls/build/test/lib/netzwerk/.mix/compile.elixir
.elixir_ls/build/test/lib/netzwerk/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.Collectable.beam
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.Enumerable.beam
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.IEx.Info.beam
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.Inspect.beam
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.List.Chars.beam
.elixir_ls/build/test/lib/netzwerk/consolidated/Elixir.String.Chars.beam
.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Link_pid.beam
.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Link_Verteiler.beam
.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Message.beam
.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Router.beam

.elixir_ls/dialyzer_manifest_22.0_elixir-1.10.2_test

.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Routingtable.beam
.elixir_ls/dialyzer_tmp/.elixir_ls/build/test/lib/netzwerk/ebin/Elixir.Routingtable.beam
.elixir_ls/build/test/lib/netzwerk/ebin/netzwerk.app
